<div class="experiences container">
	<h2 class="section-title text-xs-center">{{ viewName }}</h2>
	<blockquote class="hidden-xs">
		<p>Experience without theory is blind, but theory without experience is mere intellectual play.</p>
		<footer>Immanuel Kant</footer>
	</blockquote>

	<hr>

	<h3 class="text-center">Career</h3>
	<div class="row container wow fadeInUp" ng-repeat="exp in careers">
		<div class="col-xs-12 col-md-4">
			<h4>{{exp.title}}</h4>
			<p>
				{{exp.start_date}} - {{exp.end_date}}
			</p>
		</div>
		<div class="col-xs-12 col-md-8">
			<p>
				<div><strong>{{exp.level}} - {{exp.specification}}</strong></div>
				<div class="hidden-xs">
					{{exp.description}}
				</div>
				<div>
					<span><i class="fa fa-map-marker"></i>&nbsp; {{exp.location}} &nbsp;</span>
					<span><i class="fa fa-external-link"></i>&nbsp; {{exp.link}} &nbsp;</span>				
				</div>
			</p>
		</div>
	</div>

	<h3 class="text-center">Education</h3>
	<div class="row container wow fadeInUp" ng-repeat="edu in educations">
		<div class="col-xs-12 col-md-4">
			<h4>{{edu.title}}</h4>			
		</div>
		<div class="col-xs-12 col-md-8">
			<p>
				<div><strong>{{edu.level}} - {{edu.specification}}</strong></div>
				<div class="hidden-xs">
					{{edu.description}}
				</div>
				<div>
					<span><i class="fa fa-map-marker"></i>&nbsp; {{edu.location}} &nbsp;</span>
					<span><i class="fa fa-external-link"></i>&nbsp; {{edu.link}} &nbsp;</span>				
				</div>
			</p>
		</div>
	</div>
</div>