<section id="midnav" class="hidden-xs">
  <div id="status" parallax-background  class="parallax"  parallax-ratio="0.3">
    <div class="parallax-overlay-2">
      <div class="container">
        <div class="title">
          <h1>WORK PROCESS</h1>
        </div><!-- end .title --> 

      <!-- Status --> 
        <div class="row count">
          <div class="col-xs-6 col-md-3">
            <i class="fa fa-lightbulb-o fa-3x"></i>
            <h4>IDEA</h4>
          </div>
          <div class="col-xs-6 col-md-3">
            <i class="fa fa-paint-brush fa-3x"></i>
            <h4>DESIGN</h4>
          </div>
          <div class="col-xs-6 col-md-3">
            <i class="fa fa-code fa-3x"></i>
            <h4>DEVELOP</h4>
          </div>
          <div class="col-xs-6 col-md-3">
            <i class="fa fa-coffee fa-3x"></i>
            <h4>COFFEE</h4>
          </div>

        </div><!-- end .row .count -->  
      <!-- Status end-->
      </div>
    </div>
  </div>
</section>