<div class="abilities container">
	<h2 class="section-title text-xs-center">{{ viewName }}</h2>
	<blockquote class="hidden-xs">
		<p>The greatness of a man is not in how much wealth he acquires, but in his integrity and his ability to affect those around him positively.</p>
		<footer>Bob Marley</footer>
	</blockquote>

	<hr>

	<h3 class="text-center">Skills</h3>
	<div class="row container wow fadeInUp" ng-repeat="skill in skills">
		<div class="col-xs-6 text-xs-right col-md-6 text-md-right ability-title">
			<div>{{skill.title}}</div>		
		</div>
		<div class="col-xs-6 text-xs-left col-md-6 text-md-left ability-score">
			<div><star-rating ng-model="skill.level" readonly="isReadonly"></star-rating></div>
		</div>
	</div>
	
	<h3 class="text-center">Languages</h3>
	<div class="row container wow fadeInUp" ng-repeat="language in languages">
		<div class="col-xs-6 text-xs-right col-md-6 text-md-right ability-title">
			<div>{{language.title}} ({{language.endorsement}})</div>		
		</div>
		<div class="col-xs-6 text-xs-left col-md-6 text-md-left ability-score">
			<div><star-rating ng-model="language.level" readonly="isReadonly"></star-rating></div>
		</div>
	</div>
</div>
